* {
  font-family: system-ui, sans-serif;
  margin: 0px;
  padding: 0px;
}
.ng-signature-card h2 {
  font-weight: 400;
  margin-left: 10px;
}
.ng-signature-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  display: inline-block;
}
.ng-signature-card-header {
  display: flex;
  padding: 15px 20px;
  align-items: center;
}
.ng-signature-card-navbar {
  padding: 15px 20px;
  display: flex;
  align-items: center;
}
.ng-signature-card-body {
  position: relative;
  padding: 15px 20px;
}
.ng-canva-digital-signature {
  top: 0;
  bottom: 0px;
  width: 400px;
  height: 200px;
  border-radius: 20px;
}
.ng-signature-card-footer {
  padding: 10px 20px 25px 0px;
  display: flex;
  align-items: center;
}
.spacer {
  flex: 1 1 auto;
}
.btn-solid, .btn-outlined {
  border: none;
  cursor: pointer;
  font-size: 18px;
  background: none;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0px 7px;
}
.btn-outlined {
  border: 1px solid;
}
.bg-primary {
  background-color: #5c83e1;
  color: white;
}
.border-primary {
  border-color: #5c83e1;
  color: #5c83e1;
}
.ng-signature-select-color {
  display: flex;
  align-items: center;
}
.ng-radio-btn {
  width: 10px;
  height: 10px;
  display: flex;
  margin-left: 5px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid;
}
.ng-radio-btn .checkmark {
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 50%;
}
.ng-radio-btn input {
  display: none;
}
.ng-radio-btn input:checked + .checkmark {
  display: inline-block;
}
select {
  border: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
  border-bottom: 2px solid;
  background: transparent;
  background-color: transparent;
}
select option {
  padding: 10px;
  margin: 10px;
  display: inline-block;
  background: transparent;
  background-color: transparent;
}
