<div class="ng-signature-card" style="width: auto;">
  <div class="ng-signature-card-header">
    <h2>Signature</h2>
  </div>
  <div class="ng-signature-card-body">
    <canvas
      class="ng-canva-digital-signature"
      width="400px"
      height="200px"
    ></canvas>
  </div>
  <div class="ng-signature-card-footer">
    <span class="spacer"></span>
    <button (click)="clear()" class="btn btn-outlined border-primary">Cancel</button>
    <button class="btn btn-solid bg-primary">Accept</button>
  </div>
</div>